﻿@model FizzBuzz.WebApplication.Models.FizzBuzzModel
@using PagedList;
@using PagedList.Mvc;

@{
    ViewBag.Title = "FizzBuzzList";
}

<link href="~/Content/Fizz.css" rel="stylesheet" type="text/css" />
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@using (Html.BeginForm("FizzBuzzList", "FizzBuzz"))
{

    @Html.ValidationSummary(true)
    <table>
        <tr>
            <td>
                @Html.LabelFor(model => model.Input, "Enter a positive integer (Ranging 1-1000): ")
                @Html.TextBox("Input", Model.Input)
                @Html.ValidationMessageFor(model => model.Input)

            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Show Fizz Buzz List" />
            </td>
        </tr>
    </table>

}

@if (Model != null && Model.FizzBuzzList != null && Model.FizzBuzzList.Count > 0)
{
    <table class="table">

        @foreach (var sequence in Model.FizzBuzzList)
        {
            <tr>
                <td>
                    @{ var style = (sequence.Equals("fizz") || sequence.Equals("buzz")|| sequence.Equals("wizz") || sequence.Equals("wuzz")) ? sequence : string.Empty;
                        <span class="@style">@sequence</span>
                    }
                </td>
            </tr>
        }
    </table>
    @Html.PagedListPager((IPagedList<string>)Model.FizzBuzzList, pageNumber => Url.Action("ResultPage", new { Model.EnteredValue, pageNumber }),
        new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, LinkToFirstPageFormat = String.Format("<<"), LinkToPreviousPageFormat = String.Format("Previous"), LinkToNextPageFormat = String.Format("Next"), LinkToLastPageFormat = String.Format(">>"), MaximumPageNumbersToDisplay = 5 })}
